<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Micky's Magnificant Milkshakes</title>
  <style>
  </style>
</head>

<body>
    <h1>Micky's Magnificant Milkshakes</h1>
    <button id="checkout-with-gradient">Checkout with Gradient</button>
    <!--<script src="https://devenv.gradient.care/assets/gradient.js"></script>-->
    <script src="http://localhost:5001/assets/gradient.js"></script>
    <script>
        document.getElementById('checkout-with-gradient')
                .addEventListener('click', function() {
            gradientCheckout(2, [{
                id: 0,
                max_price: 5000,
                min_price: 1000,
                sku: 'A01',
                name: 'Micky\'s Magnificant Chocolate Milkshake',
                image_url: 'https://prettythings.soylent.com/assets/drink/20170627/0102a_gallery.jpg'
            }, {
                id: 1,
                max_price: 6000,
                min_price: 2000,
                sku: 'A02',
                name: 'Micky\'s Magnificant Chocolate Milkshake [Diet]',
                image_url: 'https://prettythings.soylent.com/assets/drink/20170627/0103a_gallery.jpg'
            // }], gradient_url='https://devenv.gradient.care');
            }], gradient_url='http://localhost:5001');
        });
    </script>
</body>
</html>
